name: Lab3 CI - Docker Compose test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean package

      - name: Fetch test_db dataset
        run: |
          mkdir -p db
          git clone https://github.com/datacharmer/test_db.git db/test_db

          
      - name: Run docker compose
        run: docker compose up --abort-on-container-exit --build
